<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #fec333 ">
      <div class="container">
        <a class= "js-scroll-trigger" href="/">
          <img src="../img/index/visorlogo.png" style="height: 50px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#page-top" style="color: #253876">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about" style="color: #253876">Acerca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#resSo" style="color: #253876">Responsabilidad social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#info"  style="color: #253876">Información</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#integrantes"  style="color: #253876">Integrantes</a>
            </li>
          </ul>
        </div>
        
      </div>
    </nav>
    <div style="height: 100px;"></div>

    <div type="row" style="margin-bottom: 50px;"> 
        <h2 class="text-center" style="color: grey">Actividad en Twitter de los candidatos a presidentes municipales en Sonora</h2>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; border-width: 2px">
      <div class="card-header">
        Seguidores
      </div>
      <div class="card-body">
        <div id="followers_bar_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Tweets
      </div>
      <div class="card-body">
        <div id="tweets_bar_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Seguidores en el tiempo
      </div>
      <div class="card-body">
        <div id="followers_line_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Tweets en el tiempo
      </div>
      <div class="card-body">
        <div id="tweets_line_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Seguidores en el tiempo
      </div>
      <div class="card-body">
        <div id="tweets_line_week_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px; margin-bottom: 50px" >
      <div class="card-header">
        Palabras clave 
      </div>
      <div class="card-body">
        <div id="keyWords_stacked_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    

    <!-- Footer -->
    <footer class="py-5" style="background-color: #253876">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Unison 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../js/scrolling-nav.js"></script>

    <!-- VISTA SEDE SCRIPTS -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
     const jsonData =<%-JSON.stringify(json)%>
     const Words = <%-JSON.stringify(keyWords)%>
     const DatosSemanales = <%-JSON.stringify(followers_per_week)%>
     
    </script>

    <script src="../js/charts/followers_bar_chart.js"></script>
    <script src="../js/charts/followers_line_chart.js"></script>
    <script src="../js/charts/keyWords_stacked_chart.js"></script>
    <script src="../js/charts/tweets_bar_chart.js"></script>
    <script src="../js/charts/tweets_line_total.js"></script>
    <script src="../js/charts/tweets_line_week.js"></script>

  </body>

</html>
=======
<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visor Pol&iacute;tico Unison</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #ffff33 ">
      <div class="container">
        <a class= "js-scroll-trigger" href="/">
          <img src="../img/index/visorlogo.png" style="height: 50px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div>
    </nav>
    <div style="height: 100px;"></div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; border-width: 2px">
      <div class="card-header">
        Seguidores
      </div>
      <div class="card-body">
        <div id="followers_bar_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Número total de seguidores de cada candidato en Twitter.
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Tweets
      </div>
      <div class="card-body">
        <div id="tweets_bar_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Número total de mensajes enviados en twitter por cada candidato.
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Seguidores en el tiempo
      </div>
      <div class="card-body">
        <div id="followers_line_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Número total de seguidores en el tiempo (por día)
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Tweets en el tiempo
      </div>
      <div class="card-body">
        <div id="tweets_line_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Número total de tweets por candidato en el tiempo.
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px">
      <div class="card-header">
        Tweets por semana
      </div>
      <div class="card-body">
        <div id="tweets_line_week_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Tweets realizados la semana pasada.
      </div>
    </div>

    <div class="card" style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-width: 2px; margin-bottom: 50px" >
      <div class="card-header">
        Frecuencia de palabras
      </div>
      <div class="card-body">
        <div id="keyWords_stacked_chart" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
      </div>
      <div class="card-footer text-muted">
        Frecuencia de palabras de los tweets realizados la semana pasada.
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../js/scrolling-nav.js"></script>

    <!-- VISTA SEDE SCRIPTS -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
     const jsonData =<%-JSON.stringify(data)%>
    </script>
    <script>
     const Words = <%-JSON.stringify(dataWords)%>
    </script>


    <script src="../js/charts/followers_bar_chart.js"></script>
    <script src="../js/charts/followers_line_chart.js"></script>
    <script src="../js/charts/keyWords_stacked_chart.js"></script>
    <script src="../js/charts/tweets_bar_chart.js"></script>
    <script src="../js/charts/tweets_line_total.js"></script>
    <script src="../js/charts/tweets_line_week.js"></script>

  </body>

</html>
>>>>>>> 3be2acb2f7b8aa8a2cbabd0da9f12667f462696e
